.container{
    background-color: lightgray;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    max-width: 500px;
    min-height: 300px;
    margin: auto;
    text-align: center;
    border-radius: 8px;
}

.header{
    background: lavender;
}
input[id*="startButton"]{
    background-color: darkblue;
    font-family: 'Century Gothic', sans-serif;
    font-size: 20px;
    color: aliceblue;
    border-radius: 10px;
}
input[id*="startButton"]:hover{
    background-color: dodgerblue;
}